@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        background-color: #e6e8ff;
        --background: 235 100% 95%;  --foreground: 235 5% 0%;  --card: 235 50% 90%;  --card-foreground: 235 5% 10%;  --popover: 235 100% 95%;  --popover-foreground: 235 100% 0%;  --primary: 235 85.6% 64.7%;  --primary-foreground: 0 0% 0%;  --secondary: 235 30% 70%;  --secondary-foreground: 0 0% 0%;  --muted: 197 30% 85%;  --muted-foreground: 235 5% 35%;  --accent: 197 30% 80%;  --accent-foreground: 235 5% 10%;  --destructive: 0 100% 30%;  --destructive-foreground: 235 5% 90%;  --border: 235 30% 50%;  --input: 235 30% 18%;  --ring: 235 85.6% 64.7%;  --radius: 1rem;
    }
    .dark {
        background-color: #060713;
        --background: 235 50% 5%;  --foreground: 235 5% 90%;  --card: 235 50% 0%;  --card-foreground: 235 5% 90%;  --popover: 235 50% 5%;  --popover-foreground: 235 5% 90%;  --primary: 235 85.6% 64.7%;  --primary-foreground: 0 0% 0%;  --secondary: 235 30% 10%;  --secondary-foreground: 0 0% 100%;  --muted: 197 30% 15%;  --muted-foreground: 235 5% 60%;  --accent: 197 30% 15%;  --accent-foreground: 235 5% 90%;  --destructive: 0 100% 30%;  --destructive-foreground: 235 5% 90%;  --border: 235 30% 18%;  --input: 235 30% 18%;  --ring: 235 85.6% 64.7%;  --radius: 1rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        font-family: 'Rubik', sans-serif;
        /*@apply bg-background text-foreground;*/
    }
}
